<div id="home-left">
  <%= render :partial => "sobre" %>
</div>

<div id="home-right">
  <%= render :partial => "sidebar_cluster" %>
  <%= render :partial => "sidebar_jobs" %>
  <%= render :partial => "sidebar_logged" %>
</div>